.edit-client-profile-section {
    width: 100%;
    padding: 30px 0;

    .personal-information {
        width: 100%;

        h3 {
            font-size: 20px;
            margin-bottom: 30px;
            padding: 0 40px;
        }

        .profile-image-container {
            display: flex;
            align-items: center;
            gap: 40px;
            padding: 0 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

            .profile-image-div {
                text-align: center;

                .image {
                    width: 200px;
                    height: 250px;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;

                    .actions {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: fit-content;
                        position: absolute;
                        right: 10px;
                        gap: 10px;
                        transition: all 0.5s ease-in-out;
                        transform: scale(0);

                        svg {
                            border-radius: 50%;
                            background-color: rgba(0, 0, 0, 0.8);
                            padding: 6px;
                            font-size: 30px;
                            color: white;
                            cursor: pointer;
                            transition: all 0.5s ease;

                            &:hover {
                                color: var(--main-color);
                            }
                        }
                    }

                    .upload-photo-div {
                        background-color: rgba(0, 0, 0, 0.8);
                        position: absolute;
                        width: 250%;
                        aspect-ratio: 1/1;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        border-radius: 50%;
                        top: 100%;
                        padding-top: 40px;
                        font-size: 18px;
                        color: white;
                        transition: all 0.5s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            color: var(--main-color);
                        }

                        svg {
                            font-size: 24px;
                        }

                        input {
                            display: none;
                        }
                    }

                    &:hover {
                        .actions {
                            transform: scale(1);
                        }

                        .upload-photo-div {
                            top: 50%;
                        }
                    }
                }
            }

            h3 {
                color: var(--main-color);
            }

            .remove-btn {
                height: 35px;
                border: none;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                border-radius: 3px;
                font-weight: 500;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }

            .actions {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                margin: 10px 0;

                button {
                    height: 35px;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    border-radius: 3px;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;

                    &.save-btn {
                        background-color: var(--main-color);
                        color: white;

                        &:hover {
                            background-color: var(--main-color-dark);
                        }
                    }

                    &.cancle-btn {
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }
        }

        .client-details-container {
            width: 100%;
            margin-top: 30px;
            border-radius: 5px;
            padding: 0 40px;

            h3 {
                padding: 30px 20px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                font-size: 20px;
            }

            form {
                width: 100%;
                display: flex;
                flex-flow: wrap;
                gap: 20px;
                justify-content: space-between;

                div {
                    width: 48%;
                    display: flex;
                    flex-direction: column;

                    label {
                        margin-bottom: 2px;
                    }

                    input,
                    select {
                        width: 100%;
                        height: 35px;
                        border-radius: 5px;
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        padding: 0 10px;
                        outline: none;
                        color: rgba(0, 0, 0, 0.7);
                    }
                    &.gender {
                        margin-top: 20px;
                        .radio-inputs {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            width: 100%;
                            gap: 20px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;

                            >* {
                                margin: 6px;
                            }
                        }
                        .male:checked+.radio-tile {
                            border-color: #5b7ed6;
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                            color: #5b7ed6;

                            &:before {
                                transform: scale(1);
                                opacity: 1;
                                background-color: #5b7ed6;
                                border-color: #5b7ed6;
                            }

                            .radio-icon svg {
                                fill: #5b7ed6;
                            }

                            .radio-label {
                                color: #5b7ed6;
                            }
                        }

                        .male:focus+.radio-tile {
                            border-color: #5b7ed6;
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;

                            &:before {
                                transform: scale(1);
                                opacity: 1;
                            }
                        }

                        .female:checked+.radio-tile {
                            border-color: rgb(233, 155, 171);
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                            color: rgb(233, 155, 171);
                            transform: scale(1.1);
                            &:before {
                                transform: scale(1);
                                opacity: 1;
                                background-color: rgb(233, 155, 171);
                                border-color: rgb(233, 155, 171);
                            }

                            .radio-icon svg {
                                fill: rgb(233, 155, 171);
                            }

                            .radio-label {
                                color: rgb(233, 155, 171);
                            }
                        }

                        .female:focus+.radio-tile {
                            border-color: rgb(233, 155, 171);
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px pink;

                            &:before {
                                transform: scale(1);
                                opacity: 1;
                            }
                        }
                        
                        .other:checked+.radio-tile {
                            border-color: var(--main-color);
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                            color: var(--main-color);

                            &:before {
                                transform: scale(1);
                                opacity: 1;
                                background-color: var(--main-color);
                                border-color: var(--main-color);
                            }

                            .radio-icon svg {
                                fill: var(--main-color);
                            }

                            .radio-label {
                                color: var(--main-color);
                            }
                        }

                        .other:focus+.radio-tile {
                            border-color: var(--main-color);
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px var(--main-color-light);

                            &:before {
                                transform: scale(1);
                                opacity: 1;
                            }
                        }

                        .radio-input:checked+.radio-tile {
                            transform: scale(1.1);
                        }

                        .radio-tile {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 80px;
                            min-height: 80px;
                            border-radius: 0.5rem;
                            border: 2px solid #b5bfd9;
                            background-color: #fff;
                            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                            transition: 0.5s ease;
                            cursor: pointer;
                            position: relative;

                            &:before {
                                content: "";
                                position: absolute;
                                display: block;
                                width: 0.75rem;
                                height: 0.75rem;
                                border: 2px solid #b5bfd9;
                                background-color: #fff;
                                border-radius: 50%;
                                top: 0.25rem;
                                left: 0.25rem;
                                opacity: 0;
                                transform: scale(0);
                                transition: 0.25s ease;
                            }

                            &.male{
                                &:hover {
                                    border-color: #5b7ed6;
    
                                    &:before {
                                        transform: scale(1);
                                        opacity: 1;
                                    }
                                }
                            }
                            &.female{
                                &:hover {
                                    border-color: rgb(233, 155, 171);
    
                                    &:before {
                                        transform: scale(1);
                                        opacity: 1;
                                    }
                                }
                            }
                            &.other{
                                &:hover {
                                    border-color: var(--main-color);
    
                                    &:before {
                                        transform: scale(1);
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        .radio-icon svg {
                            width: 2rem;
                            height: 2rem;
                            fill: #494949;
                        }

                        .radio-label {
                            color: #707070;
                            transition: 0.375s ease;
                            text-align: center;
                            font-size: 13px;
                        }

                        .radio-input {
                            clip: rect(0 0 0 0);
                            -webkit-clip-path: inset(100%);
                            clip-path: inset(100%);
                            height: 1px;
                            overflow: hidden;
                            position: absolute;
                            white-space: nowrap;
                            width: 1px;
                        }

                    }

                    &.bio {
                        width: 100%;

                        textarea {
                            border: 1px solid rgba(0, 0, 0, 0.3);
                            outline: none;
                            text-align: justify;
                            color: rgba(0, 0, 0, 0.5);
                            width: 100%;
                            min-height: 45px;
                            margin-bottom: 10px;
                            padding: 10px;
                            border-radius: 5px;
                        }

                        .chars {
                            font-size: 14px;
                            color: rgba(0, 0, 0, 0.6);

                            &.exceed {
                                color: rgb(244, 88, 88);
                            }
                        }
                    }

                    &.working-hours {
                        .time-field {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            gap: 20px;
                            align-items: center;
                            justify-content: ce;

                            input {}
                        }
                    }
                }

                button[type="submit"] {
                    width: max-content;
                    padding: 10px 30px;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    background-color: var(--main-color);
                    color: white;

                    &:hover {
                        background-color: var(--main-color-dark);
                    }
                }

                button:disabled {
                    background-color: rgb(198, 198, 198);
                    cursor: not-allowed;

                    &:hover {
                        background-color: rgb(157, 157, 157);
                    }
                }
            }
        }
    }

    .change-passowrd-container {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        margin-top: 40px;

        h3 {
            padding: 30px 20px;
            font-size: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 10px 30px;

            input {
                width: 100%;
                height: 35px;
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.3);
                padding: 0 10px;
                outline: none;
                color: rgba(0, 0, 0, 0.7);
                margin-bottom: 25px;
            }

            button[type="submit"] {
                width: max-content;
                padding: 7px 30px;
                margin-bottom: 20px;
                border-radius: 3px;
                border: none;
                outline: none;
                background-color: var(--main-color);
                color: white;

                &:hover {
                    background-color: var(--main-color-dark);
                }
            }
        }
    }
}

.full-image-div {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;

    .image-container {
        width: 100%;
        height: 100%;
    }

    svg {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
}