.edit-doctor-profile-section {
    width: 100%;

    .personal-information {
        width: 100%;

        .profile-image-container {
            display: flex;
            align-items: center;
            gap: 40px;

            .profile-image-div {
                text-align: center;

                .image {
                    width: 200px;
                    height: 250px;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;

                    .actions {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: fit-content;
                        position: absolute;
                        right: 10px;
                        gap: 10px;
                        transition: all 0.5s ease-in-out;
                        transform: scale(0);

                        svg {
                            border-radius: 50%;
                            background-color: rgba(0, 0, 0, 0.8);
                            padding: 6px;
                            font-size: 30px;
                            color: white;
                            cursor: pointer;
                            transition: all 0.5s ease;

                            &:hover {
                                color: var(--main-color);
                            }
                        }
                    }

                    .upload-photo-div {
                        background-color: rgba(0, 0, 0, 0.8);
                        position: absolute;
                        width: 250%;
                        aspect-ratio: 1/1;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        border-radius: 50%;
                        top: 100%;
                        padding-top: 40px;
                        font-size: 18px;
                        color: white;
                        transition: all 0.5s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            color: var(--main-color);
                        }

                        svg {
                            font-size: 24px;
                        }

                        input {
                            display: none;
                        }
                    }

                    &:hover {
                        .actions {
                            transform: scale(1);
                        }

                        .upload-photo-div {
                            top: 50%;
                        }
                    }
                }
            }

            h3 {
                color: var(--main-color);
            }

            .remove-btn {
                height: 35px;
                border: none;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                border-radius: 3px;
                font-weight: 500;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }

            .actions {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                margin: 10px 0;

                button {
                    height: 35px;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    border-radius: 3px;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;

                    &.save-btn {
                        background-color: var(--main-color);
                        color: white;

                        &:hover {
                            background-color: var(--main-color-dark);
                        }
                    }

                    &.cancle-btn {
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }
        }

        .is_not_verified {
            background-color: #fef8e3;
            width: 100%;
            height: 50px;
            border: 1px solid #e5c76e;
            color: #9f7803;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            margin: 50px 0;
            margin-bottom: 30px;
            border-radius: 5px;

            p {
                display: flex;
                align-items: center;

                svg {
                    font-size: 24px;
                    margin-right: 10px;
                }
            }
        }

        .is_verified {
            background-color: #ecfee3;
            width: 100%;
            height: 50px;
            border: 1px solid #72e56e;
            color: #039005;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            margin: 50px 0;
            margin-bottom: 30px;
            border-radius: 5px;

            p {
                display: flex;
                align-items: center;

                svg {
                    font-size: 24px;
                    margin-right: 10px;
                }
            }
        }
    }

    .doctor-details-container,
    .other-details-container {
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
        border-radius: 5px;

        h3 {
            padding: 30px 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            font-size: 20px;
        }

        form {
            width: 100%;
            display: flex;
            flex-flow: wrap;
            padding: 10px 30px;
            gap: 20px;
            justify-content: space-between;

            div {
                width: 48%;
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: 2px;
                }

                input,
                select {
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    padding: 0 10px;
                    outline: none;
                    color: rgba(0, 0, 0, 0.7);
                }

                &.bio {
                    width: 100%;

                    textarea {
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        outline: none;
                        text-align: justify;
                        color: rgba(0, 0, 0, 0.5);
                        width: 100%;
                        min-height: 45px;
                        margin-bottom: 10px;
                        padding: 10px;
                        border-radius: 5px;
                    }

                    .chars {
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.6);

                        &.exceed {
                            color: rgb(244, 88, 88);
                        }
                    }
                }

                &.working-hours {
                    .time-field {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        align-items: center;
                        justify-content: ce;
                    }
                }
            }

            button[type="submit"] {
                width: max-content;
                padding: 10px 30px;
                border: none;
                outline: none;
                border-radius: 5px;
                margin-bottom: 20px;
                background-color: var(--main-color);
                color: white;

                &:hover {
                    background-color: var(--main-color-dark);
                }
            }

            button:disabled {
                background-color: rgb(198, 198, 198);
                cursor: not-allowed;

                &:hover {
                    background-color: rgb(157, 157, 157);
                }
            }
        }
    }

    .clinic-location {
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
        border-radius: 5px;
        margin-top: 40px;

        h3 {
            padding: 30px 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            font-size: 20px;
        }


        .map-container {
            padding: 10px 20px;
        }

    }

    .other-details-container {
        margin-top: 40px;

        form {

            // flex-direction: column;
            .home-checkup {
                label.main-label {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    span {
                        svg {
                            color: var(--main-color);
                            font-size: 24px;
                            margin-left: 10px;
                            cursor: pointer;
                        }
                    }
                }

                .checkbox-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    p {
                        font-size: 18px;
                        font-weight: 500;

                        &.active {
                            color: var(--main-color);
                        }
                    }
                }

                /* To hide the checkbox */
                .toggle-checkbox {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    display: none;
                }

                .toggle-switch {
                    background-color: rgba(0, 0, 0, 0.2);
                    width: 60px;
                    height: 32px;
                    border-radius: 16px;
                    position: relative;
                    transition: 0.3s;
                    cursor: pointer;
                    transform: scale(0.7);
                }

                .toggle-switch::before {
                    content: "";
                    font-weight: 900;
                    background-color: white;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    border-radius: 50%;
                    top: 4px;
                    left: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ddd;
                    transition: 0.3s;
                }

                .toggle-checkbox:checked+.toggle-switch {
                    background-color: var(--main-color);
                }

                .toggle-checkbox:checked+.toggle-switch::before {
                    content: "";
                    left: 31px;
                    color: var(--main-color);
                }

            }

            .imege-upload {
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: space-between;
                flex-direction: row;
                width: 100%;

                input {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    border: none;
                    padding-top: 5px;
                }

                button {
                    width: 150px;
                    height: 100%;
                    outline: none;
                    background: none;
                    font-weight: 500;
                    border-radius: 6px;
                }

                button[type='button'] {
                    border: 2px solid var(--main-color);
                    color: var(--main-color-dark);
                    cursor: pointer;

                    &:hover {
                        background-color: var(--main-color-light);
                    }
                }

                button[type='disabled'] {
                    border: 2px solid rgba(0, 0, 0, 0.4);
                    color: rgba(0, 0, 0, 0.4);
                    cursor: not-allowed;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }

            textarea {
                border: 1px solid rgba(0, 0, 0, 0.3);
                outline: none;
                text-align: justify;
                color: rgba(0, 0, 0, 0.5);
                width: 100%;
                min-height: 45px;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 5px;
            }
        }
    }

    .change-passowrd-container {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-top: 40px;

        h3 {
            padding: 30px 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            font-size: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 10px 30px;

            label.error {
                color: rgb(240, 48, 48);
                font-weight: 500;
            }

            input {
                width: 100%;
                height: 40px;
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.3);
                padding: 0 10px;
                outline: none;
                color: rgba(0, 0, 0, 0.7);
                margin-bottom: 25px;

                &.error {
                    border: 1px solid rgb(240, 48, 48);
                }
            }

            button[type="submit"] {
                width: max-content;
                padding: 7px 30px;
                margin-bottom: 20px;
                border-radius: 3px;
                border: none;
                outline: none;
                background-color: var(--main-color);
                color: white;

                &:hover {
                    background-color: var(--main-color-dark);
                }
            }
        }
    }
}

.full-image-div {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    padding: 100px;

    .image-container {
        width: 100%;
        height: 100%;
    }

    svg {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
}