.client-settings-section{
    padding: 100px 6%;
    display: flex;
    gap: 40px;
    align-items: start;
    &.p0{
        padding: 100px 1%;
        gap: 20px;
    }
    .left{
        position: sticky;
        top: 85px;
    }
    .right{
        width: 100%;
    }
}